## Подключение библиотек

In [1]:
#Импорт библиотек
import numpy as np # импорт модуля Numpy
import pandas as pd # импорт модуля Pandas
import matplotlib.pyplot as plt # импорт инструментов визуализации
import seaborn as sns # импорт пакета Seaborn для визуализации
import json

## Загрузка первого и второго обучающего набора данных

In [3]:
first_part_df1 = pd.read_excel("data/train_first_part.xlsx")
second_part_df2 = pd.read_json("data/train_second_part.json")

KeyboardInterrupt:

## Объединение двух частей набора данных по перевозкам

In [7]:
first_part_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040022 entries, 0 to 1040021
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1040022 non-null  object
 1   vendor_id           1040022 non-null  int64
 2   pickup_datetime     1040022 non-null  datetime64[ns]
 3   dropoff_datetime    1040022 non-null  datetime64[ns]
 4   passenger_count     1040022 non-null  int64
 5   pickup_longitude    1040022 non-null  float64
 6   pickup_latitude     1040022 non-null  float64
 7   dropoff_longitude   1040022 non-null  float64
 8   dropoff_latitude    1040022 non-null  float64
 9   store_and_fwd_flag  1040022 non-null  object
 10  trip_duration       1040022 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(2)
memory usage: 87.3+ MB

In [8]:
second_part_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8587 entries, 0 to 8586
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  8587 non-null   object
 1   vendor_id           8587 non-null   int64
 2   pickup_datetime     8587 non-null   object
 3   dropoff_datetime    8587 non-null   object
 4   passenger_count     8587 non-null   int64
 5   pickup_longitude    8587 non-null   float64
 6   pickup_latitude     8587 non-null   float64
 7   dropoff_longitude   8587 non-null   float64
 8   dropoff_latitude    8587 non-null   float64
 9   store_and_fwd_flag  8587 non-null   object
 10  trip_duration       8587 non-null   int64
dtypes: float64(4), int64(3), object(4)
memory usage: 738.1+ KB

После просмотра информации о первом и втором наборе данных можно заметить, что столбцы у них одинаковые. Это означает, что можно без припятствий объединить их в один DataFrame. Объединение будет осуществлятся по вертикали, т.е к концу первого-df1 присодиниться начало второго-df2.

In [9]:
df3 = pd.concat([first_part_df1, second_part_df2], sort = False)

Посмотрим как выглядит DataFrame после слияния

In [10]:
df3

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
...,...,...,...,...,...,...,...,...,...,...,...
8582,id0002921,1,4/6/16 14:16,4/6/16 14:20,1,-73.973015,40.760948,-73.976387,40.755604,N,207
8583,id1329189,2,3/24/16 1:26,3/24/16 1:38,1,-73.985550,40.727257,-73.957039,40.712387,N,740
8584,id0408460,1,2/23/16 16:38,2/23/16 16:48,1,-73.972038,40.750202,-73.998360,40.733360,N,605
8585,id0147762,1,5/24/16 7:20,5/24/16 7:25,1,-73.993332,40.724342,-74.004250,40.707470,N,287
8586,id0859354,2,3/15/16 22:00,3/15/16 22:19,1,-73.988060,40.759548,-74.005585,40.711521,N,1169

Удалим неинформативный признак id и уберем дубликаты

In [1]:
df3 = df3.drop_duplicates('id').drop('id', axis=1)

NameError: name 'drop_duplicates' is not defined

In [ ]:
df2["pickup_datetime"] = df2.pickup_datetime.astype("datetime64")
df2["dropoff_datetime"] = df2.dropoff_datetime.astype("datetime64")

In [4]:
df1["store_and_fwd_flag"].value_counts()

NameError: name 'df1' is not defined

In [ ]:
df4 = pd.read_csv("data/weather.csv")

In [ ]:
df4["date"] = df4.date.astype("datetime64")

In [ ]:
df4["precipitation"].value_counts()

In [ ]:
df3['dropoff_datetime'] = df3['dropoff_datetime'].apply(pd.to_datetime)

In [ ]:
df3 = df3.drop_duplicates(subset='id')

In [ ]:
df3['date'] = pd.to_datetime(df3['dropoff_datetime']).dt.date

In [ ]:
df4['date'] = df4['date'].apply(pd.to_datetime).dt.date

In [ ]:
df5 = df3.merge(df4, on = 'date')

In [ ]:
df5.drop(['id', 'pickup_datetime', 'date'], axis = 1, inplace = True)

In [ ]:
df5['snow fall'].value_counts()

In [ ]:
df5 = df5.drop(np.where(df5[['snow fall', 'snow depth', 'precipitation']] == 'T')[0])

In [ ]:
df5['precipitation'].unique()

In [ ]:
df5["precipitation"] = df5.precipitation.astype("float64")
df5["snow fall"] = df5['snow fall'].astype("float64")